<!DOCTYPE html>
<html>
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <div id= "app"> 
 路人A體脂肪<input type="text" v-model="a">
 <br>
 路人B體脂肪<input type="text" v-model="b">
 <ul>
   <li>
     誰的體脂肪比較重? : {{whoHeavy}}
    </li>
    <li>
      A跟一般國人的體脂肪差異多少 : {{judgeA}}
     </li>
     <li>
      B跟一般國人的體脂肪差異多少 : {{judgeB}}
     </li>

</ul>


  </div>

  
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue5.js"></script>

</body>
</html>
